body {
  color: #404040;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 2px 2px 4px #c5c3c3;
}

.logo-header {
  height: 20px;
}

.logo-login {
  height: 30px;
}

.title {
  border-left: 1px solid #c5c3c3;
  margin-left: 12px;
  padding-left: 12px;
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
}

.login-view {
  padding: 40px;
  margin: auto;
  box-shadow: 0px 0px 5px #c5c3c3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.input {
  padding: 10px;
  padding-left: 15px;
  width: 90%;
  border: 1px solid #c5c3c3;
  margin-top: 20px;
  border-radius: 4px;
}
